<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="true"
        colors="true"
        stopOnFailure="false">

    <filter>
        <whitelist>
            <directory>../</directory>
            <exclude>
                <directory>./tests/vendor</directory>
                <directory>./examples</directory>
            </exclude>
        </whitelist>
    </filter>

    <testsuite name="PHP Binance Api">
        <directory suffix=".php">../</directory>
    </testsuite>

</phpunit>
